aiogram==2.11.2
aiohttp==3.7.4
async-timeout==3.0.1
attrs==20.3.0
Babel==2.9.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
idna==2.10
jsonconfig-tool==1.5
keyring==22.3.0
lxml==4.6.2
messages==0.5.0
multidict==5.1.0
psycopg2==2.8.6
python-box==5.3.0
pytz==2021.1
pywin32-ctypes==0.2.0
requests==2.25.1
soupsieve==2.2
typing-extensions==3.7.4.3
urllib3==1.26.3
utils==1.0.1
validus==0.3.0
yarl==1.6.3
